* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4B0082;
    color: white;
    text-align: center;
    width: 75%;
    height: 100px;
    font-size: 150%;
    display: flex;
}
header img {
    width: 25%;
    height: 100px;
}
.container {
    display: flex;
}
.Left {
    width: 45%;
    height: 300px;
}
.Right {
    width: 55%;
    height: 300px;
    text-align: center;
}
main {
    background-color: #4B0082;
    padding: 60px;
}
footer {
    background-color: #4B0082;
    color: white;
    padding: 40px;
}
body {
    font-family: 'Helvetica', sans-serif;
    background-color: #FFE4B5;
}
form {
    margin: 40px;
}
table {
    color: white;
    text-align: center;
    width: 90%;
    border: 1px dashed yellow;
}
tr:hover {
    background-color: #9370DB;
    color: yellow;
}
